astroid==2.9.3
certifi==2021.5.30
charset-normalizer==2.0.11
colorama==0.4.4
commonmark==0.9.1
idna==3.2
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
platformdirs==2.5.0
Pygments==2.9.0
pylint==2.12.2
requests==2.26.0
rich==10.7.0
schedule==1.1.0
toml==0.10.2
typing-extensions==4.0.1
urllib3==1.26.6
wrapt==1.14.1
